html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  display: block;
  text-decoration: none; }

:root {
  --nav-font-size: 16px;
  --font-size-h1: 96px;
  --font-size-h2: 36px;
  --font-size-h3: 32px;
  --font-size-h4: 20px;
  --skills-font-size: 24px;
  --main-font-size: 18px; }

@keyframes closeNav {
  0% {
    margin-right: 0; }
  100% {
    margin-right: 100%;
    display: none; } }
@keyframes closeNavReverse {
  0% {
    margin-right: 100%;
    display: flex; }
  100% {
    margin-right: 0; } }
@keyframes closeItemNav {
  0% {
    opacity: 1;
    margin-left: 0; }
  100% {
    opacity: 0;
    margin-left: -350px; } }
@keyframes closeItemNavReverse {
  0% {
    opacity: 0;
    margin-left: -350px; }
  100% {
    opacity: 1;
    margin-left: 0; } }
@keyframes closeItemMobile {
  0% {
    opacity: 0;
    margin-left: -350px; }
  70% {
    opacity: 1;
    margin-left: 35px; }
  100% {
    opacity: 1;
    margin-left: 0; } }
@keyframes closeItemMobileReverse {
  0% {
    opacity: 1;
    margin-left: 0; }
  20% {
    opacity: 1;
    margin-left: 35px; }
  100% {
    opacity: 0;
    margin-left: -350px; } }
@keyframes fadeAddress {
  0% {
    opacity: 0;
    transform: translateY(-200px);
    filter: blur(6px); }
  10% {
    opacity: .5;
    filter: blur(3px); }
  70% {
    opacity: 1;
    transform: translateY(25px);
    filter: blur(1px); }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0); } }
html {
  scroll-behavior: smooth; }

body {
  background-color: #101616; }

body, p, a, select {
  color: #fff;
  font-family: "Montserrat", sans-serif; }

p {
  font-size: var(--main-font-size); }

h1 {
  font-size: var(--font-size-h1);
  font-weight: 900;
  text-transform: uppercase; }

h2 {
  font-size: var(--font-size-h2); }

h3 {
  text-transform: uppercase;
  font-size: var(--font-size-h3); }

h4 {
  font-size: var(--font-size-h4);
  font-weight: 600; }

.wrap {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px; }

::-webkit-scrollbar {
  width: 0; }

::-webkit-scrollbar-thumb {
  width: 0; }

.fadeY {
  opacity: 0;
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -o-transform: translateY(40px);
  -ms-transform: translateY(40px);
  transform: translateY(40px);
  transition: .5s; }
  .fadeY.show {
    opacity: 1;
    transform: translateY(0); }

.fadeXRight {
  opacity: 0;
  -webkit-transform: translateX(150px);
  -moz-transform: translateX(150px);
  -o-transform: translateX(150px);
  -ms-transform: translateX(150px);
  transform: translateX(150px);
  transition: .5s; }
  .fadeXRight.show {
    opacity: 1;
    transform: translateX(0); }

.fadeXLeft {
  opacity: 0;
  -webkit-transform: translateX(-150px);
  -moz-transform: translateX(-150px);
  -o-transform: translateX(-150px);
  -ms-transform: translateX(-150px);
  transform: translateX(-150px);
  transition: .5s; }
  .fadeXLeft.show {
    opacity: 1;
    transform: translateX(0); }

.fadeAddress {
  opacity: 0;
  transform: translateY(-200px);
  transition: .3s; }
  .fadeAddress.show {
    animation-name: fadeAddress;
    animation-duration: 0.6s;
    animation-fill-mode: forwards; }

/* horizontal scroll bar */
.scrollBar {
  position: fixed;
  bottom: 0;
  height: 4px;
  width: 0%;
  background: linear-gradient(90deg, rgba(92, 255, 177, 0.1), #5cffb1);
  -webkit-transition: width 200ms ease;
  transition: width 200ms ease;
  text-align: right;
  color: #fff;
  z-index: 5; }

.scrollBar span {
  position: absolute;
  top: -23px;
  right: 15px;
  font-size: 0.7em;
  font-weight: 500;
  display: block;
  text-align: center; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px 0;
  width: 100%;
  z-index: 5; }
  .header #nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation-name: closeNavReverse;
    animation-duration: .8s;
    animation-fill-mode: forwards; }
    .header #nav a {
      text-transform: uppercase;
      font-size: var(--nav-font-size);
      font-weight: 600;
      padding: 15px;
      transition: all .5s;
      animation-name: closeItemNavReverse;
      animation-duration: .8s;
      animation-fill-mode: forwards; }
      .header #nav a:hover {
        color: #5CFFB1; }
  .header #mobile-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    padding: 90px 10px 10px 35px;
    transition: all 0.1s; }
    .header #mobile-nav a {
      text-transform: uppercase;
      font-size: var(--nav-font-size);
      font-weight: 600;
      padding: 15px;
      transition: all .5s;
      animation-name: closeItemMobileReverse;
      animation-duration: 0.8s;
      animation-fill-mode: forwards; }
      .header #mobile-nav a:hover {
        color: #5CFFB1; }

.burger-icon {
  opacity: 0;
  position: absolute;
  left: 50px;
  top: 38px;
  z-index: 5;
  height: 20px;
  width: 0;
  cursor: pointer;
  transition: all 2s; }
  .burger-icon span {
    position: absolute;
    display: block;
    left: 0;
    top: 7px;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: all .5s; }
  .burger-icon span:nth-child(1) {
    transform: translateY(-7px); }
  .burger-icon span:nth-child(3) {
    transform: translateY(7px); }

#header.scroll .burger-icon {
  width: 32px;
  opacity: 1; }
  #header.scroll .burger-icon > span {
    background-color: #5CFFB1;
    width: 32px; }
#header.scroll #nav {
  animation-name: closeNav;
  animation-duration: .8s;
  animation-fill-mode: forwards; }
  #header.scroll #nav a {
    animation-name: closeItemNav;
    animation-duration: .8s;
    animation-fill-mode: forwards; }

#header.open .burger-icon > span {
  background-color: #5CFFB1; }
#header.open .burger-icon > span:nth-child(1) {
  transform: translateY(0) rotate(45deg); }
#header.open .burger-icon > span:nth-child(2) {
  opacity: 0; }
#header.open .burger-icon > span:nth-child(3) {
  transform: translateY(0) rotate(-45deg); }
#header.open #mobile-nav {
  display: flex;
  left: 0;
  width: 25vw; }
  #header.open #mobile-nav a {
    animation-name: closeItemMobile;
    animation-duration: 0.8s;
    animation-fill-mode: forwards; }

#lang {
  position: relative; }

.checked {
  position: absolute;
  top: 32px;
  right: 50px; }
  .checked-theme {
    display: none; }
  .checked-lang {
    display: flex;
    align-items: center;
    justify-content: center; }
    .checked-lang--main {
      width: 38px;
      height: 100%;
      padding: 7px;
      background-color: transparent;
      cursor: pointer;
      font-size: var(--nav-font-size);
      font-weight: 600;
      text-transform: uppercase; }
    .checked-lang--box {
      display: none;
      position: absolute;
      top: 29px;
      left: 0; }
      .checked-lang--box.open {
        display: block; }
      .checked-lang--box > div {
        padding: 5px 7px;
        cursor: pointer; }
        .checked-lang--box > div:hover {
          color: #5CFFB1; }
    .checked-lang--icon {
      position: absolute;
      height: 100%;
      right: 0;
      top: -1px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .checked-lang--key.none {
      display: none; }

.home {
  background: linear-gradient(rgba(16, 22, 22, 0), rgba(16, 22, 22, 0), rgba(16, 22, 22, 0.5), #101616), url("../resources/img/home_bg.png");
  background-size: 100% 100%;
  padding: 200px 0 20px 0; }
  .home-main {
    text-align: center; }
  .home-title {
    margin: 12px 0; }
  .home-position {
    font-weight: 600;
    margin: 20px 0; }
  .home-place {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0;
    cursor: pointer; }
    .home-place div {
      transition: all .5s; }
    .home-place:hover > div {
      color: #5CFFB1; }
    .home-place img {
      margin-right: 15px; }
  .home-about {
    text-align: center;
    padding-top: 124px;
    padding-bottom: 127px; }
    .home-about h3 {
      margin-bottom: 35px; }
    .home-about p {
      font-weight: 500;
      line-height: 1.5;
      max-width: 80%;
      margin: 0 auto; }

.education-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap; }
  .education-title h3 {
    width: 50%; }
.education-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin-top: 30px; }
.education--desc {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding: 7px 0; }
.education--date {
  font-weight: 600;
  font-style: italic;
  font-size: 12px;
  padding: 10px 0 7px; }
.education--place {
  font-weight: 400;
  font-style: italic;
  font-size: 12px; }
.education-item {
  padding: 0 20px 40px 30px;
  border-left: 2px solid rgba(255, 255, 255, 0.15);
  position: relative;
  z-index: 1; }
  .education-item .education--lang-level {
    color: #5CFFB1; }
.education--punkt {
  position: absolute;
  top: 0;
  left: -9px; }
.education-item--1 {
  grid-area: 1/1/3/1; }
  .education-item--1 h4 {
    color: #5CFFB1; }
.education-item--2 {
  grid-area: 3/ 1/ -1/ 1; }
  .education-item--2 h4 {
    color: #5CFFB1; }
.education-item--3 {
  grid-column: 2/2;
  grid-row: 1/1; }
.education-item--4 {
  grid-column: 2/2;
  grid-row: 2/2; }
.education-item--5 {
  grid-column: 2/2;
  grid-row: 3/3; }
.education-item--6 {
  grid-column: 2/2;
  grid-row: 4/4; }

.mySkills {
  text-align: center;
  padding: 180px 0 30px 0; }
  .mySkills h3 {
    margin-bottom: 30px; }
  .mySkills p {
    line-height: 1.5;
    font-weight: 600;
    max-width: 80%;
    margin: 0 auto 40px; }
  .mySkills-box {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
    color: #5CFFB1;
    font-size: var(--skills-font-size);
    margin-top: 30px; }
    .mySkills-box > div {
      padding: 30px 30px 30px 30px; }
    .mySkills-box--item {
      margin-bottom: 30px; }

.portfolio {
  padding: 120px 0 80px; }
  .portfolio h3 {
    text-align: center;
    margin-bottom: 45px; }
  .portfolio-item {
    background-color: #090D0D;
    padding: 20px 50px;
    position: relative;
    margin: 15px 0; }
    .portfolio-item--title {
      color: #5CFFB1;
      margin-bottom: 25px; }
    .portfolio-item--link {
      position: absolute;
      height: 100%;
      right: 50px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
    .portfolio-item--desc {
      font-weight: 600;
      font-size: 14px; }
    .portfolio-item:hover {
      background: linear-gradient(rgba(9, 13, 13, 0.1), #090d0d, rgba(9, 13, 13, 0.1)); }

.experience {
  text-align: center;
  padding: 180px 0 45px;
  position: relative;
  background: linear-gradient(#101616, rgba(16, 22, 22, 0.8), #101616), url("../resources/img/portfolio_bg.png"); }
  .experience h3 {
    margin-bottom: 50px; }
  .experience-box {
    width: 100%; }
  .experience--item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr; }
  .experience-place {
    grid-row: 1/4;
    padding: 26px 20px 80px;
    position: relative; }
    .experience-place h4 {
      color: #5CFFB1;
      padding-bottom: 7px; }
    .experience-place.right {
      text-align: left; }
      .experience-place.right::after {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.15);
        top: 0;
        left: -1px; }
      .experience-place.right .experience-place--punkt {
        left: -8px; }
    .experience-place.left {
      text-align: right; }
      .experience-place.left::after {
        content: '';
        display: block;
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.15);
        top: 0;
        right: -1px; }
      .experience-place.left .experience-place--punkt {
        right: -8px; }
    .experience-place--position {
      font-size: 14px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
    .experience-place--location {
      font-size: 12px;
      font-style: italic;
      padding-top: 10px; }
    .experience-place--punkt {
      position: absolute;
      top: 21px; }
  .experience-time {
    grid-row: 2/3;
    position: relative;
    font-weight: 700;
    font-size: var(--nav-font-size); }
    .experience-time > div {
      margin-bottom: 5px; }
    .experience-time.right {
      text-align: right; }
      .experience-time.right::before {
        content: '';
        display: block;
        position: absolute;
        width: 40%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.15);
        top: 17px;
        left: -20px; }
    .experience-time.left {
      text-align: left; }
      .experience-time.left::before {
        content: '';
        display: block;
        position: absolute;
        width: 40%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.15);
        top: 17px;
        right: -20px; }

#footer {
  text-align: center;
  padding: 60px 0 120px; }
  #footer h3 {
    margin-bottom: 60px; }
  #footer a {
    color: #5CFFB1;
    font-weight: 600;
    font-size: var(--skills-font-size);
    margin-bottom: 30px;
    transition: all .5s; }
    #footer a:hover {
      color: #fff; }

/*# sourceMappingURL=main.css.map */
