.fadeY {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    transition: .5s;
    &.show {
        opacity: 1;
        transform: translateY(0);
      }
}
.fadeXRight {
    opacity: 0;
    -webkit-transform: translateX(150px);
    -moz-transform: translateX(150px);
    -o-transform: translateX(150px);
    -ms-transform: translateX(150px);
    transform: translateX(150px);
    transition: .5s;
    &.show {
        opacity: 1;
        transform: translateX(0);
      }
}
.fadeXLeft {
    opacity: 0;
    -webkit-transform: translateX(-150px);
    -moz-transform: translateX(-150px);
    -o-transform: translateX(-150px);
    -ms-transform: translateX(-150px);
    transform: translateX(-150px);
    transition: .5s;
    &.show {
        opacity: 1;
        transform: translateX(0);
      }
}
.fadeAddress {
    opacity: 0;
    transform: translateY(-200px);
    transition: .3s;
    &.show {
        animation-name: fadeAddress;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
      }
}

  