.fadeY {
    opacity: 0;
    transform: translateY(40px);
    transition: .5s;
    &.show {
        opacity: 1;
        transform: translateY(0);
      }
}
.fadeXRight {
    opacity: 0;
    transform: translateX(150px);
    transition: .5s;
    &.show {
        opacity: 1;
        transform: translateX(0);
      }
}
.fadeXLeft {
    opacity: 0;
    transform: translateX(-150px);
    transition: .5s;
    &.show {
        opacity: 1;
        transform: translateX(0);
      }
}


  