@keyframes closeNav {
    0% {
        margin-right: 0;
    }
    100% {
        margin-right: 100%;
        display: none;
    }
}
@keyframes closeNavReverse {
    0% {
        margin-right: 100%;
        display: flex;
    }
    100% {
        margin-right: 0;
    }
}

@keyframes closeItemNav {
    0% {
        opacity: 1;
        margin-left: 0;
    }
    100% {
        opacity: 0;
        margin-left: -350px;
    }
}
@keyframes closeItemNavReverse {
    0% {
        opacity: 0;
        margin-left: -350px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes closeItemMobile {
    0% {
        opacity: 0;
        margin-left: -350px;
    }

    70% {
        opacity: 1;
        margin-left: 35px;
    }
    100% {
        opacity: 1;
        margin-left: 0;
    }
}
@keyframes closeItemMobileReverse {
    0% {
        opacity: 1;
        margin-left: 0;
    }

    20% {
        opacity: 1;
        margin-left: 35px;
    }
    100% {
        opacity: 0;
        margin-left: -350px;
    }
}

@keyframes fadeAddress {
    0% {
        opacity: 0;
        transform: translateY(-200px);
        filter: blur(6px);
    }
    10% {
        opacity: .5;
        filter: blur(3px);
    }
    70% {
        opacity: 1;
        transform: translateY(25px);
        filter: blur(1px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}