@media screen and (max-width: 1300px) {
    .header {
        #nav {
            justify-content: space-around;
        }
    }
    .fadeXRight, .fadeXLeft {
        -webkit-transform: translate(0, 60px);
        -moz-transform: translate(0, 60px);
        -o-transform: translate(0, 60px);
        -ms-transform: translate(0, 60px);
        transform: translate(0, 60px);
    }
    .fadeXRight.show, .fadeXLeft.show {
        opacity: 1;
        transform: translate(0, 0);
      }

}

@media screen and (max-width: 1140px) {
    :root {
        --nav-font-size: 16px;
        --font-size-h1: 72px;
        --font-size-h2: 32px;
        --font-size-h3: 30px;
        --font-size-h4: 18px;
        --skills-font-size: 24px;
        --main-font-size: 17px;
    }
    .home {
        padding: 170px 0 20px;
    }
    .wrap {
        max-width: 90%;
    }
    .mySkills {
        padding: 150px 0 30px;
    }
    .experience {
        padding: 150px 0 45px;
    }
    #footer {
        padding: 60px 0 80px;
    }
    #header {
        #mobile-nav {
            background: linear-gradient( rgba($dark-second-color, 0.1), rgba($dark-second-color, 0.5) ), rgba($color: $dark-background, $alpha: 0.95);
        }
    }
    #header.open {
        #mobile-nav {
            width: 30vw;
            background: linear-gradient( rgba($dark-second-color, 0.1), rgba($dark-second-color, 0.5) ), rgba($color: $dark-background, $alpha: 0.95);
        }
    }
    .header #nav {
        display: none;
    }
    .burger-icon {
        opacity: 1;
    }


}


@media screen and (max-width: 980px) {
    :root {
        --nav-font-size: 16px;
        --font-size-h1: 64px;
        --font-size-h2: 30px;
        --font-size-h3: 28px;
        --font-size-h4: 17px;
        --skills-font-size: 22px;
        --main-font-size: 15px;
    }
    .home {
        padding: 150px 0 20px;
        &-about {
            padding: 50px 0 80px;
        }
    }
    

}

@media screen and (max-width: 768px) {
    :root {
        --nav-font-size: 16px;
        --font-size-h1: 54px;
        --font-size-h2: 28px;
        --font-size-h3: 26px;
        --font-size-h4: 17px;
        --skills-font-size: 22px;
        --main-font-size: 14px;
    }
    #header.open {
        #mobile-nav {
            width: 45vw;
        }
    }
    

}
@media screen and (max-width: 576px) {
    

}