.portfolio {
    padding: 120px 0 80px;
    h3 {
        text-align: center;
        margin-bottom: 45px;
    }
    &-item {
        background-color: #090D0D;
        padding: 20px 50px;
        position: relative;
        margin: 15px 0;
        &--title {
            @include theme-second-colors($dark-theme);
            margin-bottom: 25px;
        }
        &--link {
            position: absolute;
            height: 100%;
            right: 50px;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
        &--desc {
            font-weight: 600;
        }
        &:hover {
            background: linear-gradient( rgba(#090D0D, .1),rgba(#090D0D, 1), rgba(#090D0D, .1) );
        }
    }

}