// font
$timesNewRomanFont: 'Montserrat', sans-serif;
$dark-theme: true;

// colors
$dark-text: #fff;
$light-text: #000;

$dark-second-color: #5CFFB1;
$light-second-color: red;

$dark-background: #101616;
$light-background: #fcdada;



:root {
    --nav-font-size: 16px;
    --font-size-h1: 96px;
    --font-size-h2: 36px;
    --font-size-h3: 32px;
    --font-size-h4: 20px;
    --skills-font-size: 24px;
    --main-font-size: 18px;
}