@import 'reset';
@import 'vars';
@import 'mixin';

body, p, a, select {
    @include theme-colors($dark-theme: true);
    font-family: $timesNewRomanFont;
}

p {
    font-size: var(--main-font-size);
}
h1 {
    font-size: var(--font-size-h1);
    font-weight: 900;
    text-transform: uppercase;
}
h2 {
    font-size: var(--font-size-h2);
}
h3 {
    text-transform: uppercase;
    font-size: var(--font-size-h3);
}
.wrap {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}
@import 'header';
@import 'home';
@import 'footer';